<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="DBDirectory" value=".\DB"/>
    <add key="DBName" value="MsgData.db"/>
  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="PMALog.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <maximumFileSize value="50MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        <conversionPattern value="%date [%thread] %-5level %logger : %method[%line] [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>       
        <foreColor value="Green"/>
        <backColor value="Yellow, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger : %method[%line] [%ndc] - %message%newline"/>
      </layout>      
    </appender>
    <root>
      <level value="Info"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
